{% extends 'verify.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>AADHAAR Verification</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


	<style type="text/css">
		.verticalStrip 
		{
			position:fixed; 
			top:0; 
			left:0; 
			width:400px; 
			background-image: url('{% static "sideback.jpg" %}');
			height:100%;
		}

		.content 
		{ 
			padding-left:250px;
		}

	</style>
	

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
	<style>
	.w3-allerta {
	  font-family: "Allerta Stencil", Sans-serif;
	}
</style>
</head>
<body style="text-align:center" background='{% static "background.jpg" %}'>
	<div class="w3-container w3-black w3-center w3-allerta">
  			
  	<p class="w3-xxxlarge">Voting Page</p>
	</div>

	<br/>
	<br/>

	{% block body %}
	<form method="post">

		<font size="6">List of Candidates: </font>


		<br/>
		<br/>

		{% for i in ca %}
			<p><font size="6"><a href='http://127.0.0.1:8000/app/vote'>{{i.c_name}}</a></font></p>
		{% endfor %}

		<br/>
		<br/>

		{% csrf_token %}
		{{ form.as_p }}

		<button type="submit" style="width: 150px; height: 50px;" onclick="window.location.href = 
			 'http://127.0.0.1:8000/app/final';" class="btn btn-info" ><b>Submit Vote</b></button>

	</form>
	<br/>
	<br/>
	<button type="button" style="width: 150px; height: 50px;" onclick="window.location.href = 
			 'http://127.0.0.1:8000/app/final';" class="btn btn-primary" ><b>Next</b></button>
	<br/>
	<br/>
	

	{% endblock %}
</body>
</html>